// ------- begin Grid ----------//
.row{
	display: inline-block;
	width: 100%;
}

[class^="col"]{
	float: left;
}
.col_1{
	width: 8.333333333333333% ;
}
.col_2{
	width: 8.333333333333333%*2;
}
.col_3{
	width: 8.333333333333333%*3;
}
.col_4{
	width: 8.333333333333333%*4;
}
.col_5{
	width: 8.333333333333333%*5;
}
.col_6{
	width: 8.333333333333333%*6;
}
.col_7{
	width: 8.333333333333333%*7;
}
.col_8{
	width: 8.333333333333333%*8;
}
.col_9{
	width: 8.333333333333333%*9;
}
.col_10{
	width: 8.333333333333333%*10;
}
.col_11{
	width: 8.333333333333333%*11;
}
.col_12{
	width: 100%;
}

.offset_3 {
	margin-left: 33.333333%;
}
.offset_25 {
	margin-left: 25%;
}
// ------- end Grid ----------//